body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    
}

.container{
    display: flex;
    flex: 1;
    
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#sign-up{
    flex: 1;
    padding: 28px;
}

#flexcontainer{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    
    gap: 35px;
}

#background-pic-container{
    width: 40vw;
    height: 100vh;
    display: flex;

}

#sign-up-container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

#dj{
    width: 40vw;
    height: 100vh;
}

#lets-golf{
    position: absolute;
    opacity: 1;
    height: 20vh;
}

.golf-container{
    display: flex;
    position: absolute;
    width: 40vw;
    height: 50vh;
    align-items: flex-end;
}

.golf-div{
    display: flex;
    position: absolute;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.4);
    
    height: 20vh;
    justify-content: center;
    flex: 1;
    
}


#top-description{
    flex: 1;
    background-color: rgb(237, 236, 236);
    display: flex;
    padding: 28px;
    align-items: center;
    font-size: 52px;
}

#create-log-in{
    flex: 1;
    background-color: rgb(237, 236, 236);
    padding: 28px;
}

.info-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#create-account{
    font-size: 28px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 27);
    border: 1px solid black;
    width: 240px;
    height: 65px;
    border-radius: 15px;
    font-weight: bold;
}

label{
    font-size: 24px;
    
}

input{
    height: 35px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

#account{
    padding-top: 25px;
    font-size: 28px;
}

#sign-up-header{
    font-size: 52px;
    padding-bottom: 25px;
}



input:invalid{
    border: 1px solid red;
    outline: none;
}
input:focus{
    border: 1px solid blue;
    outline: none;
}

#error{
    font-size: 64px;
    color: red;
}

a{
    color: rgb(248, 170, 0);
}